#top{
    background-color:#45477c;
    /* color: aliceblue; */
    
}
#name{
    color:rgb(21, 190, 35);
}

/* #nav{ 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.733)
    
} */
 /* #header{ */
    /* background-image: url(https://i.postimg.cc/FznJ0r28/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:600px ;
    align-items: center;
    display: flex; */
   
 /* }  */
 @media (max-width:767px){
    #cart{
        margin-top: 20px;
    
   }
 }
