#name{
    color:rgb(7,117,54);
}
/* }
#nav{ */
    /* background-color: blueviolet; */
/* } */
#header{
    background-image: url(https://i.postimg.cc/FznJ0r28/header.jpg);
    background-repeat: no-repeat;
   
}