<!-- Navigation-->
 <nav id="top" class="navbar navbar-expand-lg navbar-light  sticky-top">
    <div class="container-fluid px-4 px-lg-5"  id="nav">
        <a class="navbar-brand" href="products" id="name">   <h3><b>FLOWFERssy</b></h3></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">CATEGORIES</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!-- <li><a class="dropdown-item" href="#!">All Products</a></li> -->

                        <div class="container text-center" id="category">
                            <div class="row row-cols-1">
                              <div class="col"id="lip">
                                <li><a class="dropdown-item" href="#!" ><b>LIPS</b></a></li>
                              </div>
                              <div class="col">
                                <li><a class="dropdown-item" href="#!" id="eye"><b>EYES</b></a></li>
                              </div>
                              <div class="col">
                                  <li><a class="dropdown-item" href="#!" id="face"><b>FACE</b></a></li>
                              </div>
                              <div class="col">
                                 <li><a class="dropdown-item" href="#!" id="nail"><b>NAILS</b></a></li>
                              </div>
                              <div class="col">
                                 <li><a class="dropdown-item" href="#!" id="skin"><b>SKINCARE</b></a></li>
                              </div>
                            </div>                      
                          </div>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link text-white " href="#!">TRENDING NOW</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#!">COMBOS</a></li>
                <li class="nav-item "><a class="nav-link text-white" href="#!">HELPS</a></li>
                
            </ul>
           <div>
                
            </div>



            <form class="d-flex me-5 me-auto" role="search">
              <input class="form-control me-2 " type="search" placeholder="Search product " aria-label="Search">
              <button class="btn btn-outline-success  " type="submit">
                Search</button>
            </form>




            <form class="d-flex">
               
                <button type="button" class="btn btn-outline-success position-relative">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                      2
                    
                    </span>
                  </button>
            </form>
        </div>
    </div>
</nav>

             <!-- Header-->
             <header class="aria-expanded-lg"   id="header"style="text-align:center;color:#888888;font-size:40px;font-weight:bold">
                <div class="container px-4 px-lg-5 my-5">
                        <div id="hdr" class="text-white">
                          <p class="lead fw-normal text-white-60 mb-0" style="text-align: left;">YOU NEED TO CARE OF YOURSELF</p>
                          <h1 class="display-4 fw-bolder"style="text-align: left;">TODAY. TOMORROW.<br>
                                     ______ ALWAYS.</h1>
            
                        </div>
                </div>
            </header>
