/* h5{
    color: rgb(195, 43, 226);
} */
#effects{
    transition: 1s ease-in-out;
   
   
    
}
#effects:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.03) 
    
    
}


/* .container {
    position: relative; */
    /* width: 50%; */
  /* }
  
  .image {
    display: block; */
    /* width: 100%; */
    /* height: auto; */
  /* }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    /* height: 100%; */
    /* width: 100%; */
    /* opacity: 0;
    transition: .5s ease; */
    /* background-color: #008CBA; */
  /* }
  
  .container:hover .overlay {
    opacity: 1;
  } */
  
  /* .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  } */