<div class="container p-5 w-50 text-center">
    <h1 class="p-3"> <B>EDIT PRODUCTS</B> </h1>
    <form (ngSubmit)="updateProduct(updateProductForm)" #updateProductForm="ngForm" action="" class=" container p-5">

        <input [(ngModel)]="pdata.id" type="text" class="form-control mt-3 p-2" placeholder="id" name="pin" id="pid">
        <input  [(ngModel)]="pdata.productName" type="text" class="form-control mt-3 p-2" placeholder="Name" name="pn" id="pn">
        <input  [(ngModel)]="pdata.categoryId" type="text" class="form-control mt-3 p-2" placeholder="Category Id" name="pin1" id="pid9">
        <input  [(ngModel)]="pdata.description" type="text" class="form-control mt-3 p-2" placeholder="Description" name="pin2" id="pid8">
        <input  [(ngModel)]="pdata.price" type="text" class="form-control mt-3 p-2" placeholder="Price" name="pin3" id="pid7">
        <input  [(ngModel)]="pdata.isAvailable" type="text" class="form-control mt-3 p-2" placeholder="Is Available True/False" name="pin4" id="pid6">
        <input  [(ngModel)]="pdata.productImage" type="text" class="form-control mt-3 p-2" placeholder="image url" name="pin5" id="pid5">
        <input  [(ngModel)]="pdata.rating" type="text" class="form-control mt-3 p-2" placeholder="Rating" name="pin6" id="pid4">
        <input  [(ngModel)]="pdata.priview" type="text" class="form-control mt-3 p-2" placeholder="Review" name="pin7" id="pid3">
        <input  [(ngModel)]="pdata.vendorName" type="text" class="form-control mt-3 p-2" placeholder="Vendor Name" name="pin8" id="pid2">
        <input  [(ngModel)]="pdata.warrenty" type="text" class="form-control mt-3 p-2" placeholder="Warrenty" name="pin9" id="pid1">

        <button type="submit" class="btn btn-successs p-2 mt-3"><b>Update</b></button>
    </form>
</div>